BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE      COMP "clk_25m"    SITE "P6";
IOBUF       PORT "clk_25m"    IO_TYPE=LVCMOS33;
FREQUENCY   PORT "clk_25m"    25 MHZ;

// LEDs
//LOCATE COMP "led_r" SITE "B11"; 
//IOBUF PORT "led_r" IO_TYPE=LVCMOS33;
//LOCATE COMP "led_g" SITE "A11";
//IOBUF PORT "led_g" IO_TYPE=LVCMOS33;
//LOCATE COMP "led_b" SITE "A12";
//IOBUF PORT "led_b" IO_TYPE=LVCMOS33;

// Debug wires for Logic Analyzer
LOCATE COMP "dbg[0]" SITE "K3";
IOBUF PORT "dbg[0]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "dbg[1]" SITE "H3";
IOBUF PORT "dbg[1]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "dbg[2]" SITE "K4";
IOBUF PORT "dbg[2]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "dbg[3]" SITE "G4";
IOBUF PORT "dbg[3]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "dbg[4]" SITE "F4";
IOBUF PORT "dbg[4]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "dbg[5]" SITE "E4";
IOBUF PORT "dbg[5]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "dbg[6]" SITE "D4";
IOBUF PORT "dbg[6]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "dbg[7]" SITE "D5";
IOBUF PORT "dbg[7]" DRIVE=4 IO_TYPE=LVCMOS33;

// Ports for LCD
LOCATE COMP "lcd_clk" SITE "J13";
IOBUF PORT "lcd_clk" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_hsync" SITE "H13";
IOBUF PORT "lcd_hsync" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_vsync" SITE "G13";
IOBUF PORT "lcd_vsync" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_de" SITE "F13";
IOBUF PORT "lcd_de" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "lcd_r[0]" SITE "E14";
IOBUF PORT "lcd_r[0]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_r[1]" SITE "E12";
IOBUF PORT "lcd_r[1]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_r[2]" SITE "D13";
IOBUF PORT "lcd_r[2]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_r[3]" SITE "P11";
IOBUF PORT "lcd_r[3]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_r[4]" SITE "N12";
IOBUF PORT "lcd_r[4]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_r[5]" SITE "N13";
IOBUF PORT "lcd_r[5]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_r[6]" SITE "M12";
IOBUF PORT "lcd_r[6]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_r[7]" SITE "L14";
IOBUF PORT "lcd_r[7]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "lcd_g[0]" SITE "D9";
IOBUF PORT "lcd_g[0]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_g[1]" SITE "D8";
IOBUF PORT "lcd_g[1]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_g[2]" SITE "P12";
IOBUF PORT "lcd_g[2]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_g[3]" SITE "P13";
IOBUF PORT "lcd_g[3]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_g[4]" SITE "P14";
IOBUF PORT "lcd_g[4]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_g[5]" SITE "M13";
IOBUF PORT "lcd_g[5]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_g[6]" SITE "L13";
IOBUF PORT "lcd_g[6]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_g[7]" SITE "K13";
IOBUF PORT "lcd_g[7]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "lcd_b[0]" SITE "D12";
IOBUF PORT "lcd_b[0]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_b[1]" SITE "D11";
IOBUF PORT "lcd_b[1]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_b[2]" SITE "D10";
IOBUF PORT "lcd_b[2]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_b[3]" SITE "K14";
IOBUF PORT "lcd_b[3]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_b[4]" SITE "J14";
IOBUF PORT "lcd_b[4]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_b[5]" SITE "H14";
IOBUF PORT "lcd_b[5]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_b[6]" SITE "G14";
IOBUF PORT "lcd_b[6]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_b[7]" SITE "F14";
IOBUF PORT "lcd_b[7]" DRIVE=4 IO_TYPE=LVCMOS33; 

// Ports for SPI on the microcontroller
LOCATE COMP "data_cmd" SITE "C9";
IOBUF PORT "data_cmd" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "pico" SITE "C8";
IOBUF PORT "pico" IO_TYPE=LVCMOS33 HYSTERESIS=ON;
LOCATE COMP "sclk" SITE "C7";
IOBUF PORT "sclk" IO_TYPE=LVCMOS33 HYSTERESIS=ON;
LOCATE COMP "cs_n" SITE "C6";
IOBUF PORT "cs_n" IO_TYPE=LVCMOS33 HYSTERESIS=ON;

// Ports for SDRAM 
LOCATE COMP "sdram_clk" SITE "R15";
IOBUF PORT "sdram_clk" SLEWRATE=FAST IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_a[0]" SITE "H15";
IOBUF PORT "sdram_a[0]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[1]" SITE "B13";
IOBUF PORT "sdram_a[1]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[2]" SITE "B12";
IOBUF PORT "sdram_a[2]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[3]" SITE "J16";
IOBUF PORT "sdram_a[3]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[4]" SITE "J15";
IOBUF PORT "sdram_a[4]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[5]" SITE "R12";
IOBUF PORT "sdram_a[5]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[6]" SITE "K16";
IOBUF PORT "sdram_a[6]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[7]" SITE "R13";
IOBUF PORT "sdram_a[7]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[8]" SITE "T13";
IOBUF PORT "sdram_a[8]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[9]" SITE "K15";
IOBUF PORT "sdram_a[9]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[10]" SITE "A13";
IOBUF PORT "sdram_a[10]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[11]" SITE "R14";
IOBUF PORT "sdram_a[11]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[12]" SITE "T14";
IOBUF PORT "sdram_a[12]" SLEWRATE=FAST IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_dq[0]" SITE "F16";
IOBUF PORT "sdram_dq[0]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[1]" SITE "E15";
IOBUF PORT "sdram_dq[1]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[2]" SITE "F15";
IOBUF PORT "sdram_dq[2]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[3]" SITE "D14";
IOBUF PORT "sdram_dq[3]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[4]" SITE "E16";
IOBUF PORT "sdram_dq[4]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[5]" SITE "C15";
IOBUF PORT "sdram_dq[5]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[6]" SITE "D16";
IOBUF PORT "sdram_dq[6]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[7]" SITE "B15";
IOBUF PORT "sdram_dq[7]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[8]" SITE "R16";
IOBUF PORT "sdram_dq[8]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[9]" SITE "P16";
IOBUF PORT "sdram_dq[9]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[10]" SITE "P15";
IOBUF PORT "sdram_dq[10]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[11]" SITE "N16";
IOBUF PORT "sdram_dq[11]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[12]" SITE "N14";
IOBUF PORT "sdram_dq[12]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[13]" SITE "M16";
IOBUF PORT "sdram_dq[13]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[14]" SITE "M15";
IOBUF PORT "sdram_dq[14]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[15]" SITE "L15";
IOBUF PORT "sdram_dq[15]" SLEWRATE=FAST IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_we_n" SITE "A15";
IOBUF PORT "sdram_we_n" SLEWRATE=FAST IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_ras_n" SITE "B16";
IOBUF PORT "sdram_ras_n" SLEWRATE=FAST IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_cas_n" SITE "G16";
IOBUF PORT "sdram_cas_n" SLEWRATE=FAST IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_cs_n" SITE "A14";
IOBUF PORT "sdram_cs_n" SLEWRATE=FAST IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_cke" SITE "L16";
IOBUF PORT "sdram_cke" SLEWRATE=FAST IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_ba[0]" SITE "G15";
IOBUF PORT "sdram_ba[0]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_ba[1]" SITE "B14";
IOBUF PORT "sdram_ba[1]" SLEWRATE=FAST IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_dqm[0]" SITE "C16";
IOBUF PORT "sdram_dqm[0]" SLEWRATE=FAST IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dqm[1]" SITE "T15";
IOBUF PORT "sdram_dqm[1]" SLEWRATE=FAST IO_TYPE=LVCMOS33;

